body{
    text-align: center;
    font-family: sans-serif;
    background: linear-gradient(to bottom,rgb(109, 241, 109),#76dbea);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    padding: 15px 30px;
    font-size: 180x;
    margin: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #356ec9;
    padding: 15px 30px;
}